@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    /* border: 1px solid red; */
    scroll-behavior: smooth;
    user-select: none;
}

.Image-logo-badge {
    display: flex;
    justify-content: center;
}

.Image-logo-badge img {
    width: auto;
    height: 120px;
}

.positionbadge {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BADGE-LOGO {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
}

.BADGE-LOGO .qr_position {
    position: absolute;
    top: 32rem;
    /* Ajustez la position verticale en fonction de l'image */
    left: 240px;
    /* Ajustez la position horizontale en fonction de l'image */
    z-index: 1;
}

.Download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.Download-btn button {
    height: 50px;
    width: 250px;
    border-radius: 24px;
    background-color: var(--rouge);
    color: var(--blanc);
    border: 0px;
    font-size: 1.2rem;
}

.Download-btn button:hover {
    color: var(--rouge);
    background-color: var(--blanc);
    border: 1px solid var(--rouge);
    cursor: pointer;
}